###############
#    ignore   #
###############
###############
#    global   #
###############
/UI/
/lib/
/*/.metadata
/*/RemoteSystemsTempFiles/

###############
#    project  #
###############
/*/*/screenshot/
/*/*/build/
/*/*/.externalToolBuilders/
/*/*/.settings/
/*/*/.lock-waf_linux2_build
/*/*/.project
/*/*/.cproject



